html, h1, h2, h3, h4, table, nav, div, a, li, span {
    font-family: 'Piedra', cursive;
}

html{
    /*background: url(../images/fire-dragon-background.jpg);
    background-size:cover;
    background-position: center;*/
}

.btn{
    border-radius: 2px;
}

.navbar-inverse .navbar-brand{
    color:rgb(199, 13, 13);
}

.navbar-collapse>ul>li:hover{
    background-color:rgb(20, 20, 20);
}

.dark-dropdown {
    background-color: rgb(20, 20, 20);
}

.dark-dropdown>li>a{
    color:#999;
}

.dark-dropdown>li>a:hover{
    background-color: rgb(199, 13, 13);
    color:rgb(20, 20, 20);
}

.tile-image{
    background-color: lightgray;
    height: 54px;
    width:54px;
    margin:1px;
    display:inline-block
}

.game-container{
    background-image: url(../images/UI/Dark-container.png);
    background-size: 100% 100%;
    color:rgb(199, 13, 13);
    min-height:600px;
    max-width:1000px;
}

.sidebar{
    min-height:600px;
}

.status-container{
    background: url(../images/UI/Dark-container.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding:20px;
    margin-bottom:20px;
    max-width:400px;
    color:#999;
}

.container-header{
    background-image:url(../images/UI/Header.png);
    background-size:contain;
    height:50px;
    width:220px;
    color:rgb(134, 8, 8);
    padding-top:15px;
    margin-right:auto;
    margin-left:auto;
}

.brand-image {
    max-height:25px;
}

.game-menu{
}

.menu-button{
    width:300px;
    height:100px;
    color:#CCC;
    font-size: 32px;
    margin-top:50px;
    background: url(../images/UI/menu-button.png);
    background-size:cover;
    background-color: rgba(0,0,0,0);
    border:0;
}

.menu-button:hover{
    background: url(../images/UI/menu-button-hover.png);
    background-color: rgba(0,0,0,0);
    border:0;
}

.menu-button:active, .menu-button:focus{
    background: url(../images/UI/menu-button-active.png);
    background-size:cover;
    background-color: rgba(0,0,0,0);
    border:0;
    outline:none;
}

.text-glow:hover, .text-glow:focus, .text-glow:active {
   -webkit-stroke-width: 5.3px;
   -webkit-stroke-color: #FFFFFF;
   -webkit-fill-color: #FFFFFF;
   text-shadow: 1px 0px 20px yellow;
   -webkit-transition: width 0.3s; /*Safari & Chrome*/
   transition: width 0.3s;
   -moz-transition: width 0.3s; /* Firefox 4 */
   -o-transition: width 0.3s; /* Opera */
}



/*===========================
    Gear inventory
============================*/

.gear-section{
    /*background-image:url(../images/silhouette-red-border.png);*/
    background-size: contain;
    background-repeat: no-repeat;
}

.gear-slot{
    background: url(../images/UI/inventory_slot_1.png);
    background-size: cover;
    margin:1px;
    height:70px;
    width:70px;
    display:inline-block
}

.gear-slot:hover{
    -moz-box-shadow:    0px 0px 5px 2px #666;
    -webkit-box-shadow: 0px 0px 5px 2px #666;
    box-shadow:         0px 0px 5px 2px #666;
}

.gear-icon{
    height:59px;
    width:59px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:4px;
}

.equipped{
    border:2px solid green;
}

/*===========================
    Support classes
============================*/
.theme-text {
    color:rgb(199, 13, 13);
}

.spacer-line{
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
}

.no-margin{
    margin:0;
}

.right-border-separator{
    padding-right:20px;
    border-right: 1px solid white;
}

.inline-block{
    display:inline-block;
}

.full-width{
    width:100%;
}

.w70{
    width:70%;
}

.w50{
    width:50%
}

.centered-text{
    text-align:center;
}

.v-align-m{
    vertical-align:middle;
}

.mar-left{
    margin-left: 20px;
}

.mar-left-s{
    margin-left: 10px;
}
.mar-left-xs{
    margin-left: 5px;
}

.mar-bottom{
    margin-bottom: 20px;
}

.mar-bottom-s{
    margin-bottom: 10px;
}

.mar-top{
    margin-top: 20px;
}

.mar-top-lg{
    margin-top: 60px;
}

.mar-right{
    margin-right: 20px;
}

.mar-right-s{
    margin-right: 10px;
}

.white{
    color:white;
}

.clickable{
    cursor: pointer;
}

.left{
    float: left;
}

.right{
    float: right;
}


.dropdown:hover .dropdown-menu {
    display: block;
}

/*=======================================
    Media Queries
========================================*/
@media screen and (max-width: 767px){

}

@media only screen
and (min-device-width: 320px)
and (max-device-width : 767px)
and (orientation: landscape){

}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {


}

/* Customize container */
@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}

@media (min-width: 1280px) {

}