<div class="well status-container">
    <h4>Status</h4>
    <label>Gold</label>
    <p class="theme-text">0</p>
    <label>Dragons slain</label>
    <p class="theme-text">0</p>
</div>
<div class="well status-container text-center">
    <h4>Inventory</h4>
    <div class="gear-section">
        <div class="gear-slot"></div>
        <div class="gear-slot"></div>
        <div class="gear-slot"></div>
        <div class="gear-slot"></div>
        <div class="gear-slot"></div>
        <div class="gear-slot"></div>
        <div class="gear-slot"></div>
        <div class="gear-slot"></div>
        <div class="gear-slot"></div>
        <div class="gear-slot"></div>
        <div class="gear-slot"></div>
        <div class="gear-slot"></div>
    </div>
</div>
